# Enable PPP support as a workaround to ensure LWIP thread-lib compatibility for Ethernet builds
CONFIG_LWIP_PPP_SUPPORT=y
CONFIG_LWIP_PPP_SERVER_SUPPORT=y

# use internal EMAC/ ethernet instead of Wi-Fi
CONFIG_EXAMPLE_CONNECT_ETHERNET=y
CONFIG_EXAMPLE_CONNECT_WIFI=n
# Interne EMAC (RGMII) ist für esp32s31 Standard, YT8531-Init ist automatisch aktiv:
CONFIG_EXAMPLE_ETH_PHY_YT8531_INIT=y
# --- Ethernet: Generic 802.3 PHY statt (fehlerhaftem Default) IP101 ---
CONFIG_EXAMPLE_ETH_PHY_GENERIC=y
CONFIG_EXAMPLE_ETH_PHY_IP101=n
CONFIG_EXAMPLE_ETH_PHY_RST_GPIO=7   
CONFIG_EXAMPLE_ETH_PHY_ADDR=0
CONFIG_ETHERNET_MDC_GPIO=5
CONFIG_ETHERNET_MDIO_GPIO=6

# --- Thread/OpenThread ---
CONFIG_OPENTHREAD_NETWORK_AUTO_START=y
# Single-Chip Wi-Fi + Thread Koexistenz (Pflicht für S31/C6)
CONFIG_ESP_COEX_SW_COEXIST_ENABLE=y
CONFIG_OPENTHREAD_RADIO_NATIVE=y
# OpenThread CLI Erweiterungen
CONFIG_OPENTHREAD_CLI_ESP_EXTENSION=y
# Konsole über USB-Serial/JTAG (praktisch, da das Board 2x USB-C hat)
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y

# partitions
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"

# debug 
CONFIG_ESP_COREDUMP_ENABLE_TO_FLASH=y
CONFIG_ESP_COREDUMP_DATA_FORMAT_ELF=y

CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y

# web UI
#CONFIG_OPENTHREAD_BR_START_WEB=y

# test Thread with CLI
CONFIG_OPENTHREAD_COMMISSIONER=y
# not needed on TBR
CONFIG_OPENTHREAD_JOINER=y

# y for developmen, deactivate it on production
CONFIG_ESPTOOLPY_FLASHENCRYPT_MODE_DEVELOPMENT_DISABLED=y
# PROD: uncomment to secure production mode
#CONFIG_SECURE_FLASH_ENC_ENABLED=y
#CONFIG_SECURE_FLASH_ENCRYPTION_MODE_DEVELOPMENT=y   # während Testphase, NICHT Release
#CONFIG_NVS_ENCRYPTION=yCONFIG_SECURE_FLASH_ENC_ENABLED=y
#CONFIG_SECURE_FLASH_ENCRYPTION_MODE_DEVELOPMENT=y   # während Testphase, NICHT Release
#CONFIG_NVS_ENCRYPTION=y
# then call once idf.py -p /dev/xxx encrypted-flash


# OTA / Rollback
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
## required to access github.com or update-server
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=y